div{
    background-color: rgb(83, 51, 77);
    color: rgb(249, 249, 249);
    width: 50%;
    height: 65vh;
    text-align: center;
    margin: 100px;
    margin-left: 25%;
    border-radius: 5px;
    text-align: center;
}
h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}
#operator{
    width: 200px;
    height: 24px;
    border-radius: 5px;
    margin-top: 20px;
}
#num1{
    width: 200px;
    height: 24px;
    border-radius: 5px;
    margin-top: 20px; 
    margin-left: 23px; 
}
#num2{
    width: 200px;
    height: 24px;
    border-radius: 5px;
    margin-top: 20px;  
}
.bt {
    width: 25%;
    height: 5vh;
    border-radius: 5px;
    color: rgb(113, 114, 116);
    margin-top: 20px;
}
label{
    font-size: 20px;
    padding-bottom: 20px;
}